build/
install/
log/
**/__pycache__
venv
.venv
.vscode/
**/.cache
**/.robovast_*
results

.env
100runs.tar.gz
50runs.tar.gz
outputs/
overview_config.html
overview_run.html
results_csv.zip
results_new.zip
results_old.zip
scenario-execution/
src/robovast/configuration/gui/causal_graph_editor.py
src/robovast/search/causal/
src/robovast/search/strategies/causal.py
tools/calc_map_failure_rates.py
tools/outputs/
tools/plot_demo.py
tools/plot_min_min_distance_vs_threshold.py
tools/safety_runs_detailed.py
tools/safety_success_rate.py
tools/temp_plotting.py
tools/waffle_demo.py
configs/RoboVAST_Examples/
