name: Build and Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
permissions: read-all
jobs:
  build-and-test:
    name: 'Build with Poetry and test commands'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -

      - name: Add Poetry to PATH
        run: |
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Install dependencies with Poetry
        run: |
          poetry install --no-root

      - name: Install project packages
        run: |
          poetry install

      - name: Run CLI tests
        run: |
          bash .github/test_commands.sh

      - name: Run Example tests
        run: |
          .github/test_growth_sim.py
